@font-face {
  font-family: "Poppins";
  src: url("Poppins-Regular.eot");
  src: url("Poppins-Regular.eot?#iefix") format("embedded-opentype"), url("Poppins-Regular.woff2") format("woff2"), url("Poppins-Regular.woff") format("woff"), url("Poppins-Regular.ttf") format("truetype"),
    url("Poppins-Regular.svg#Poppins-Regular") format("svg");
  font-weight: 900;
  font-style: normal;
  font-display: normal;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 0.938rem;
  background-color: hsl(228, 6%, 8%);
  color: hsl(228, 8%, 70%);
}

h1,
h2,
h3,
h4 {
  color: hsl(228, 8%, 98%);
  font-weight: 600;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*==================== CSS ====================*/
.container {
  max-width: 1120px;
  margin-inline: 1.5rem;
}

.grid {
  display: grid;
  gap: 1.5rem;
}

.section {
  padding-block: 5rem 1rem;
}

.section__title {
  font-size: 2.25rem;
  font-weight:  700;
  text-align: center;
  margin-bottom: 1rem;
}

.main {
  overflow: hidden;
}

/*==================== BERANDA ====================*/
.home__container {
  padding-top: 2.5rem;
  row-gap: 2rem;
}

.home__img {
  width: 270px;
  filter: drop-shadow(0 0 48px hsla(93, 54%, 54%, 0.4));
  justify-self: center;
}

.home__data {
  text-align: center;
}

.home__title {
  font-size: 2.25rem;
  font-weight: 700;
  margin-bottom: 1rem;
}

.home__title span {
  color: hsl(93, 54%, 54%);
}

.home__description {
  margin-bottom: 3rem;
}

/*==================== KATEGORI ====================*/
.new__data {
  text-align: center;
}

.new__container {
  row-gap: 7.5rem;
}

.new__content {
  row-gap: 6rem;
}

.new__card {
  position: relative;
  width: 200px;
  background: linear-gradient(180deg, hsla(93, 8%, 8%), hsla(93, 40%, 30%));
  padding: 9rem 0.75rem 1.5rem 0.75rem;
  border: 2px solid hsl(93, 58%, 66%);
  border-radius: 1.5rem;
}

.new__img {
  position: absolute;
  top: -4.5rem;
  left: 0;
  right: 0;
  width: 180px;
  margin: 0 auto;
  transition: transform 0.4s;
}

.new__title {
  font-size: 1.25rem;
  text-align: center;
}

.new__card:nth-child(odd) {
  rotate: -5deg;
}

.new__card:nth-child(even) {
  justify-self: flex-end;
  rotate: 5deg;
}

.new__card:hover .new__img {
  transform: translateY(-0.5rem);
}

/*==================== TOKO ====================*/
.shop__container {
  padding-top: 6.5rem;
  grid-template-columns: repeat(2, 1fr);
  gap: 6rem 1.5rem;
}

.shop__card {
  position: relative;
  background: linear-gradient(180deg,
                                hsla(93, 8%, 8%),
                                hsla(93, 40%, 30%));
  padding: 5.75rem .75rem 1.25rem .75rem;
  border: 2px solid hsl(93, 58%, 66%);
  border-radius: 1rem;
}

.shop__img {
  position: absolute;
  top: -4.5rem;
  left: 0;
  right: 0;
  width: 130px;
  margin: 0 auto;
  transition: transform .4s;
}

.shop__title {
  font-size: .813rem;
  font-weight: 600;
  margin-bottom:.5rem;
}

.shop__price {
  color: hsl(228, 8%, 98%);
  font-weight: 600;
}

.shop__card:hover .shop__img {
  transform: translateY(-.5rem);
}

/*==================== BERITA ====================*/
.care__container {
  padding-top: 2rem;
  row-gap: 2rem;
}

.care__img {
  width: 270px;
  filter: drop-shadow(0 0 48px hsla(93, 54%, 54%, .4));
  justify-self: center;
}

.care__list {
  display: grid;
  row-gap: 1rem;
}

.care__item {
  display: flex;
  column-gap: .5rem;
  align-items: flex-start;
}