body {
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
  background-color: #f2f2f2;
}

.body-container {
  padding: 0 30px;
  max-width: 1200px;
  margin: 0 auto;
}

.navbar {
  padding: 0;
  background-color: #3e7e55;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.table {
  width: 100%;
  border-collapse: collapse;
  table-layout: fixed;
}

th,
td {
  padding: 15px;
  border: 1px solid #ddd;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

th {
  background-color: #4caf50;
  color: white;
  font-weight: bold;
}

tr:nth-child(odd) {
  background-color: #f2f2f2;
}

tr:hover {
  background-color: #e6e6e6;
}

.title-container {
  margin-bottom: 20px;
  margin-top: 20px;
  font-size: 2rem;
  text-align: center;
}

.btn-container {
  margin-bottom: 20px;
  display: flex;
  justify-content: flex-start;
  gap: 10px;
}

.btn-custom {
  padding: 10px 20px;
  font-size: 1rem;
  border-radius: 5px;
  margin-right: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom:hover {
  background-color: #558b6e;
}

.btn-view {
  background-color: #3e7e55;
  color: white;
}

.btn-delete {
  background-color: #283618;
  color: white;
}

@media print {
  body {
    margin: 0px;
  }

  button {
    display: none;
  }

  th:last-child,
  td:last-child {
    display: none;
  }
}
